#terms {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#terms h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.center-image {
    align-self: center;
    border: min(0.25rem, 0.5vw) solid var(--theme-color);
    width: 75%;
}